<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<h1>チャットルーム</h1>
<p>こんにちは、<%= @current_user.username %> さん</p>

  <%= image_tag current_user.avatar.url, class: "icon" %>
<div id="messages">
  <% @messages.each do |message| %>
      <div id="message-<%= message.id %>" class="message">
        <p>
          <%= image_tag message.user.avatar.url, alt: "#{message.user.username}のプロフィール画像", class: "icon" %>
          <strong><%= message.user.username %>:</strong>
          <%= message.content %>
        </p>
        <emoji-picker data-message-id="<%= message.id %>"></emoji-picker>
        <div class="reactions">
          <% message.reactions.each do |reaction| %>
            <span data-reaction-id="<%= reaction.id %>"><%= reaction.emoji %></span>
          <% end %>
        </div>
      </div>
    <% end %>
</div>


<div class="text-field">
  <%= form_with model: @message, url: create_path ,method: :post ,local: false do|f| %>
  <div>
    <%= f.text_area :content %>
  </div>
  <%= f.submit '送信' %>
<% end %>
</div>
