<h1>チャットルーム</h1>
<p>こんにちは、<%= @current_user.username %> さん</p>
<%= button_to '画像編集ページへ', edit_chatroom_path(1), method: :get %>
<div id="messages">
  <% @messages.each do |message| %>
    <div class="message">
    <p class="talk-icon">
      <%= image_tag message.user.avatar.url, alt: "#{message.user.username}のプロフィール画像", class: "icon" %>
    </p>

    <p class="talk"><strong><%= message.user.username %>:</strong>
      <%= message.content %>
    </p>
    </div>
  <% end %>
</div>

<div class="text-field">
  <%= form_with model: @message, url: create_path ,method: :post, local: true do |f| %>
  <div>
    <%= f.text_area :content %>
  </div>
  <%= f.submit '送信' %>
<% end %>
</div>

<div class="err-msg">
  <!-- エラーメッセージの表示 -->
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>



<script>

function handleClick()  {
  const textField = document.querySelector(".edit-icon-field");
  if (textField) {
    textField.style.display = "block";
  }
}

# document.addEventListener("DOMContentLoaded", function () { 
#   const icons = document.querySelectorAll(".talk-icon .icon");
#   const textField = document.querySelector(".edit-icon-field");
#   const cameraIcon = document.querySelector(".camera-icon");

#   if (avatarIcon) {
#     avatarIcon.addEventListener("click", function () {
#         textField.style.display = "block";
#     });
#   }
# });

# document.addEventListener("DOMContentLoaded", function () {
#   const cameraIcon = document.querySelector(".camera-icon");
#   const fileInput = document.querySelector("#file-input");

#   if (cameraIcon && fileInput) {
#     cameraIcon.addEventListener("click", function () {
#       fileInput.click();
#     });
#   }
# });

</script>